<h2>Picture投稿一覧</h2>
<%= notice %>

<table>
    <tr>
        <th>Picture</th>
        <th>Content</th>
    </tr>
    
    <% @pictures.each do |picture| %>
    <tr>
        <td><%= image_tag picture.image.url %></td>
        <td><%= picture.content %></td>
        <td><%= link_to 'Pictureの詳細を確認する',picture_path(picture.id) %></td>
        <td><%= link_to 'Pictureを編集する',edit_picture_path(picture.id) %></td>
        <td><%= link_to 'Pictureを削除する',picture_path(picture.id),method: :delete,data: { confirm: '本当に削除してよろしいですか'} %></td>
    </tr>
    <% end %>
</table>
<%= link_to '新しいPictureを投稿する',new_picture_path %>
